<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>TodoList</title>
  </head>
  <body>
        <header>
                <div id="head">
                  <h1>To do list</h1>
                  <h2>remember what to do</h2>
                </div>
        </header>
                <main>
                        <div id="content">

              