body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #423e3e;
}
#head{
    padding: 15px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    min-width: 500px;
    color: white;
    background-color: #312d2d;
}
#head h1{
    font-size: 90px;
    font-weight: 700;
    margin:20px;
}
#foot{
    background-color: #312d2d;
}
#foot a{
    min-height: 50px;
    padding-top:10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    display: block;
}



#content > ul{
   
}
#content > ul > li{
    background-color: #1EAEDB;
    border: #312d2d solid 1px;
    margin-top:10px;
    min-height: 50px;
    list-style-type: none;
}
.todo_title{
    border-bottom: #423e3e dashed 1px;
}
#content > ul > li a{
    padding-top:5px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    display: block;
}
#content > ul > li a:hover{
    background-color: #0d9dca;
}

.details{
    padding:10px;
    padding-left: 30px;
    display: inline-block;
}